/* frontend/src/components/Layout/Layout.css */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it takes full viewport height */
}

.content-area {
    flex-grow: 1; /* Allows it to take up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* This centers child items horizontally */
    width: 100%;
    /* Padding to prevent content from going under the fixed header */
    padding-top: 80px; /* Adjust this value if your header's height changes */
}